{% extends 'base.html' %}

{% block title %} {{ yazi.baslik }} {% endblock title %}

{% block content %}

<div class="card mb-3 " >


  <img src="{{ yazi.resim.url }}" class="card-img-top  img-fluid" alt="..." style="height: 500px;">


  <div class="card-body">

    <h5 class="card-title">{{ yazi.baslik }}</h5>
    <p class="card-text">{{ yazi.icerik|safe }}</p>
    <p class="card-text"><small class="text-muted">{{ yazi.olusturulma_tarihi|timesince }} mins ago</small></p>
  </div>

</div>


{% endblock %}