{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Hakkımda {% endblock %}


{% block content %}

    <div class="container h-100">
        <div class="card h-100">
            <div class="card-body">
               <h1 class="card-title">Lorem ipsum...</h1>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, reiciendis.
                </p>

            </div>

        </div>
    </div>

{% endblock %}