.selamlar {
    position: relative;
    width:100%;
    height:8rem;
    background-color:#1d1f21;
    bottom:0px;
    margin-bottom: 0;
    top:12rem;
}



.card {
    font-size: 1em;
    overflow: hidden;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d5d5e3, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

