{% load kategori_list %}
{% kategori_list as kategoriler %}
   <div class="col-sm-3">

                <div class="card">
                    <div class="card-header bg-dark text-white-50">
                        Menü
                    </div>


            {% if request.user.is_authenticated %}  <!-- context'ten gelen: request kısmı-->
                    <div class="list-group">
                          <a href="#" class="list-group-item list-group-item-action">Profil Düzenle</a>

                          <a href="{% url 'sifre-degistir' %}"
                             class="list-group-item list-group-item-action
                            {% if 'sifre-degistir' in request.path %} active {% endif %}"
                          >
                              Şifre Değiştir
                          </a>



                          <a href="{% url 'yazi-ekle' %}" class="list-group-item list-group-item-action

                            {% if 'yazi-ekle' in request.path %} active {% endif %}

                        ">
                              Yazı Ekle
                          </a>

                          <a class="list-group-item list-group-item-action

                                {% if 'yazilarim' in request.path %} active {% endif %}"
                             href="{% url 'yazilarim' %}">
                              Yazılarım
                          </a>

                        <a href="{% url 'cikis' %}" class="list-group-item list-group-item-action">
                                Çıkış
                        </a>

                    </div>
            {% else %}

                    <div class="list-group" style="border-radius: 0;">
                      <a href="#" class="list-group-item list-group-item-action bg-light text-warning">
                          Login
                      </a>

                    </div>

            {% endif %}



                </div>

                <div class="card" >
                      <div class="card-header bg-dark font-monospace text-black-50 text-center">
                       <span class="text-white lead "> Kategoriler</span>
                      </div>
                      <ul class="list-group list-group-flush">
                        {% for kategori in kategoriler %}
                            <li><a class="list-group-item list-group-item-action text-sm-center"
                                   href="{% url 'kategori' kategoriSlug=kategori.slug %}">
                                {{ kategori.isim }}
                            </a></li>
                                <!-- 'kategori' ismindeki urle, kategoriSlug'ı gönderiyorum-->

                            {% endfor %}
                      </ul>
                </div>


    </div>